# Server Configuration
PORT=8001
MAX_PAYLOAD_SIZE=100mb

# API Endpoints
REACT_APP_SERVER_API_URL=http://localhost:8001/api
REACT_APP_FIRECRAWL_API_URL=http://localhost:3002/v1

# React Development
FAST_REFRESH=false
WDS_SOCKET_PORT=0 